<section id="education" class="py-3 px-2 py-md-4 px-md-3 text-light">
    <h2 class="text-center mb-4 text-uppercase fw-bold">Education</h2>
    <div class="timeline">
        <div class="timeline-item">
            <span class="date text-warning font-weight-bold">2021 - 2025</span>
            <h4>Bachelor of Science in Computer Engineering</h4>
            <p>Makerere University, Kampala-Uganda</p>
        </div>
        <div class="timeline-item">
            <span class="date text-warning font-weight-bold">2018 - 2019</span>
            <h4>Uganda Advanced Certificate of Education</h4>
            <p>St. Peter's College, Tororo</p>
        </div>
        <div class="timeline-item">
            <span class="date text-warning font-weight-bold">2014 - 2017</span>
            <h4>Uganda Certificate of Education</h4>
            <p>St. Peter's College, Tororo</p>
        </div>
    </div>
</section>
