<section id="skills" class="py-3 px-2 py-md-4 px-md-3 text-light">
    <div class="container">
        <h2 class="text-center mb-4 text-uppercase fw-bold">Skills</h2>

        <h4 class="mb-4 text-warning fw-bold">Technical Skills</h4>
        <div class="row g-4">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-code me-2"></i>Programming Languages</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">Python</span>
                            <span class="badge bg-warning text-dark">Java</span>
                            <span class="badge bg-warning text-dark">Kotlin</span>
                            <span class="badge bg-warning text-dark">JavaScript</span>
                            <span class="badge bg-warning text-dark">TypeScript</span>
                            <span class="badge bg-warning text-dark">SQL</span>
                            <span class="badge bg-warning text-dark">HTML/CSS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-globe me-2"></i>Front-End Development</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">React</span>
                            <span class="badge bg-warning text-dark">Next.js</span>
                            <span class="badge bg-warning text-dark">Bootstrap</span>
                            <span class="badge bg-warning text-dark">Tailwind CSS</span>
                            <span class="badge bg-warning text-dark">UI/UX</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-globe me-2"></i>Back-End Development</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">Spring Boot</span>
                            <span class="badge bg-warning text-dark">Node.js</span>
                            <span class="badge bg-warning text-dark">Django</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-globe me-2"></i>API Development</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">FastAPI</span>
                            <span class="badge bg-warning text-dark">Django REST Framework</span>
                            <span class="badge bg-warning text-dark">Spring Boot</span>
                            <span class="badge bg-warning text-dark">Express.js</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-database me-2"></i>Databases</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">MySQL</span>
                            <span class="badge bg-warning text-dark">PostgreSQL</span>
                            <span class="badge bg-warning text-dark">MongoDB</span>
                            <span class="badge bg-warning text-dark">Redis</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-mobile-alt me-2"></i>Mobile Development</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">Kotlin</span>
                            <span class="badge bg-warning text-dark">Flutter</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-brain me-2"></i>Machine Learning</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">TensorFlow</span>
                            <span class="badge bg-warning text-dark">Scikit-learn</span>
                            <span class="badge bg-warning text-dark">Data Analysis</span>
                            <span class="badge bg-warning text-dark">Feature Engineering</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-tools me-2"></i>Embedded Systems</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">C/C++ and Python</span>
                            <span class="badge bg-warning text-dark">Arduino</span>
                            <span class="badge bg-warning text-dark">Raspberry Pi</span>
                            <span class="badge bg-warning text-dark">ESP32</span>
                            <span class="badge bg-warning text-dark">Sensors</span>
                            <span class="badge bg-warning text-dark">Actuators</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card h-100 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold"><i class="fas fa-tools me-2"></i>Tools &amp; Others</h5>
                        <div class="d-flex flex-wrap gap-2 mt-3 lead">
                            <span class="badge bg-warning text-dark">Git/GitHub</span>
                            <span class="badge bg-warning text-dark">Linux</span>
                            <span class="badge bg-warning text-dark">Figma</span>
                            <span class="badge bg-warning text-dark">Docker</span>
                            <span class="badge bg-warning text-dark">Trello</span>
                            <span class="badge bg-warning text-dark">Jira</span>
                            <span class="badge bg-warning text-dark">Illustrator</span>
                            <span class="badge bg-warning text-dark">Photoshop</span>
                            <span class="badge bg-warning text-dark">Slack</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mt-5 text-warning fw-bold">Soft Skills</h4>
        <div class="row g-4">
            <div class="col-12">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <div class="d-flex flex-wrap gap-2 mt-2 lead">
                            <span class="badge bg-warning text-dark">Problem-Solving</span>
                            <span class="badge bg-warning text-dark">Teamwork</span>
                            <span class="badge bg-warning text-dark">Adaptability</span>
                            <span class="badge bg-warning text-dark">Time Management</span>
                            <span class="badge bg-warning text-dark">Communication</span>
                            <span class="badge bg-warning text-dark">Quick Learner</span>
                            <span class="badge bg-warning text-dark">Attention to Detail</span>
                            <span class="badge bg-warning text-dark">Critical Thinking</span>
                            <span class="badge bg-warning text-dark">Cross-functional Collaboration</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
